    /*Makes it so that the header is centered*/
    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right:0px;
        padding-left: 0px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-color: black;
        margin: 0;
    }

    /*Changes logo size*/
    .logo-black {
        width: 180px;
        height: auto;
        flex: 0 1 auto;
    }

    /*Keeps the entire body on Arial or Sans Serif font*/
    body { 
        font-family: Arial, sans-serif;
        background-color: #f4f4f4; 
        margin: 0;
    }

    h3{
        margin: 20px 0;
        text-align: center;
        width: 100%;
    }

    .navHeader {
        justify-content: center;
    }

    /* Add a black background color to the top navigation */
    nav {
        width: 100%;
        display: flex;  
        background-color: black;
        overflow: hidden;
        justify-content: center;
    }

    /* Style the links inside the navigation bar */
    nav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    nav a:hover {
        background-color: #ddd;
        color: black;
        }

/*Centers the Hello Admin blah blah*/
    .welcomeAdmin {
        height: 60px;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

 /*Centers everything inside the main tag*/
    .dashboardContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right:0px;
        padding-left: 0px;
        width: 100%;
        gap: 30px;
} 


    /*Centers the inventory dashboard stuff blah blah too*/
    .inventoryContainer {
        background-color: rgb(255, 243, 205);
        max-width: 1100px;
        width: 90%;
        padding: 25px;
        border-radius: 25px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        border-top: 5px solid black;
        margin: 0 auto;
    }


    .inventoryTable {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    .inventoryTable th, .inventoryTable td{
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid lightgray;
    }
